*{
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
}
.container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-height: 100vh;
    line-height: 20vh;
}
.form{
    display: flex;
    flex-direction: column;
    line-height: 0vh;
}
.form p{
    line-height: 0vh;
    column-width: 0vh;
}
.form input{
    line-height: 0vh;
    margin: 0%;
    padding: 8px 60px;
    color: #ffffff;
    background-color: rgb(54, 53, 53);
    border-radius: 4px;
    border-color: #ffffff;
}
button{
    border-style: hidden;
    margin-top: 8vh;
    font-weight: bold;
    padding: 10px 25px;
    background-color: rgb(31, 174, 31);
    border-color: green;
    border-radius: 8px;

}
.form button:hover{
    cursor: pointer;
    border-color: rgb(10, 145, 35);
}